.container {
  height: 100vh;
  line-height: 300px;
  text-align: center;
  background-color: cyan;
}
.container .title {
  text-decoration: underline;
  font-style: italic;
  font-weight: 200;
  font-size: 50px;
}
.container .content {
  color: red ;
}
